@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.header {
  background-color: #289dd2; }
  .header__logo {
    width: 10rem;
    height: 10rem; }
  .header__navbar1 {
    list-style-type: none;
    background-color: #204050;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    font-family: 'Bebas Neue', cursive;
    color: white;
    font-size: 1.5rem;
    text-decoration: none; }
    .header__navbar1--li {
      margin: 0 1rem; }
      .header__navbar1--li--a {
        font-family: 'Bebas Neue', cursive;
        color: white;
        font-size: 1.5rem;
        opacity: 0.9;
        text-decoration: none; }
        .header__navbar1--li--a:hover {
          opacity: 1;
          color: white; }

.footer {
  background-color: #289dd2;
  text-align: center;
  color: white;
  font-family: 'Bebas Neue', cursive;
  font-size: 2rem; }
  .footer__p {
    font-family: 'Bebas Neue', cursive;
    color: white;
    font-size: 1.5rem;
    padding: 0.5rem 0; }
  .footer__CR {
    font-family: 'Bebas Neue', cursive;
    color: white;
    font-size: 1rem;
    padding: 0.5rem 0; }
  .footer__logos {
    width: 3rem;
    height: 3rem; }

.inicio {
  background-color: #204050; }
  .inicio__h {
    padding: 1rem;
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    color: white;
    text-align: center; }
    @media only screen and (max-width: 768px) {
      .inicio__h {
        font-size: 2.2rem; } }
  .inicio__h2 {
    padding: 1rem;
    font-family: 'Bebas Neue', cursive;
    font-size: 2.2rem;
    color: white;
    text-align: center; }
    @media only screen and (max-width: 768px) {
      .inicio__h2 {
        font-size: 1.6rem; } }
  .inicio__h3 {
    padding: 1rem;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
    color: white;
    text-align: center; }
    @media only screen and (max-width: 768px) {
      .inicio__h3 {
        font-size: 1.3rem; } }
  .inicio__p, .nosotros__p, .ventas__p {
    font-size: 1.3rem;
    color: white;
    font-family: 'Bebas Neue', cursive;
    text-align: center; }
    @media only screen and (max-width: 768px) {
      .inicio__p, .nosotros__p, .ventas__p {
        font-size: 1rem; } }
  .inicio__foto {
    width: 85%;
    padding: 1rem 0rem;
    opacity: 0.8; }
    .inicio__foto:hover {
      width: 85.1%;
      padding: 1rem 0;
      transition: 1s;
      border-radius: 1rem;
      opacity: 1; }
  .inicio__iframe {
    height: 500px; }
    @media only screen and (max-width: 992px) {
      .inicio__iframe {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden; } }
    .inicio__iframe--video {
      width: 100%;
      height: 70%;
      padding: 1rem; }
      @media only screen and (max-width: 992px) {
        .inicio__iframe--video {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          padding: 1rem; } }

.nosotros {
  background-color: #204050; }
  .nosotros__h {
    padding: 1rem;
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    color: white;
    text-align: center; }
    @media only screen and (max-width: 768px) {
      .nosotros__h {
        font-size: 2.2rem; } }
  .nosotros__p {
    padding: 1.3rem; }
  .nosotros__h2 {
    padding: 1rem;
    font-family: 'Bebas Neue', cursive;
    font-size: 2.2rem;
    color: white;
    text-align: center; }
    @media only screen and (max-width: 768px) {
      .nosotros__h2 {
        font-size: 1.6rem; } }
  .nosotros__h3 {
    padding: 1rem;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
    color: white;
    text-align: center; }
    @media only screen and (max-width: 768px) {
      .nosotros__h3 {
        font-size: 1.3rem; } }
  .nosotros__foto {
    width: 85%;
    padding: 1rem; }

.prod {
  background-color: #204050; }
  .prod__h1 {
    padding: 1rem;
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    color: white;
    text-align: center; }
    @media only screen and (max-width: 768px) {
      .prod__h1 {
        font-size: 2.2rem; } }
  .prod__h2 {
    padding: 1rem;
    font-family: 'Bebas Neue', cursive;
    font-size: 2.2rem;
    color: white;
    text-align: center; }
    @media only screen and (max-width: 768px) {
      .prod__h2 {
        font-size: 1.6rem; } }
  .prod__foto {
    width: 80%;
    opacity: 0.7;
    border-radius: 1rem; }
    .prod__foto:hover {
      opacity: 1; }
  .prod__video {
    opacity: 0.8;
    padding-bottom: 2rem; }
    .prod__video:hover {
      opacity: 1; }

.ventas {
  background-color: #204050; }
  .ventas__h {
    padding: 1rem;
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    color: white;
    text-align: center; }
    @media only screen and (max-width: 768px) {
      .ventas__h {
        font-size: 2.2rem; } }
  .ventas__p {
    padding: 1rem; }
  .ventas__h2 {
    padding: 1rem;
    font-family: 'Bebas Neue', cursive;
    font-size: 2.2rem;
    color: white;
    text-align: center; }
    @media only screen and (max-width: 768px) {
      .ventas__h2 {
        font-size: 1.6rem; } }
  .ventas__h3 {
    padding: 1rem;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
    color: white;
    text-align: center; }
    @media only screen and (max-width: 768px) {
      .ventas__h3 {
        font-size: 1.3rem; } }
  .ventas__foto {
    width: 86.5%; }
  .ventas__iframe {
    height: 500px; }
    @media only screen and (max-width: 992px) {
      .ventas__iframe {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden; } }
    .ventas__iframe--video {
      width: 100%;
      height: 70%;
      padding: 1rem; }
      @media only screen and (max-width: 992px) {
        .ventas__iframe--video {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          padding: 1rem; } }

.contacto {
  background-color: #204050; }
  .contacto__form {
    background-color: #64b8e0;
    border-radius: 1rem; }
  .contacto__h {
    padding: 1rem;
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    color: white;
    text-align: center; }
    @media only screen and (max-width: 768px) {
      .contacto__h {
        font-size: 2.2rem; } }
  .contacto__letras {
    font-family: 'Bebas Neue', cursive;
    color: white;
    font-size: 1.2rem;
    padding-right: 1rem; }
  .contacto__divreset {
    padding-left: 1rem;
    padding-bottom: 1rem; }
  .contacto__boton {
    font-family: 'Bebas Neue', cursive;
    font-size: 1 rem;
    width: 5rem;
    border-style: hidden;
    opacity: 1; }
    .contacto__boton:hover {
      opacity: 0.8; }

.presupuesto {
  background-color: #204050; }
  .presupuesto__form {
    background-color: #64b8e0;
    border-radius: 1rem;
    width: 80%; }
  .presupuesto__h {
    padding: 1rem;
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    color: white;
    text-align: center; }
    @media only screen and (max-width: 768px) {
      .presupuesto__h {
        font-size: 2.2rem; } }
  .presupuesto__letras {
    font-family: 'Bebas Neue', cursive;
    color: black;
    font-size: 1.2rem;
    padding-right: 1rem;
    width: 100%; }
  .presupuesto__divreset {
    padding-left: 1rem;
    padding-bottom: 1rem; }
  .presupuesto__boton {
    font-family: 'Bebas Neue', cursive;
    font-size: 1 rem;
    width: 5rem;
    border-style: hidden;
    opacity: 1; }
    .presupuesto__boton:hover {
      opacity: 0.8; }
