@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{margin: 0; 
padding: 0;
box-sizing: border-box}

.header{
background-color: #289dd2;
}

.navbar1{list-style-type: none;
background-color: #204050;
padding: 0.5rem 1rem;
border-radius: 0.3rem;
font-family: 'Bebas Neue', cursive; 
color: white;
font-size: 1.5rem;
text-decoration: none;
}

.li{margin: 0 1rem;
      }
    
.a{font-family: 'Bebas Neue', cursive; 
color: white;
font-size: 1.5rem;
text-decoration: none;
}

.a:hover{font-size: 2rem;
color: white;}

.header__logo{width:10rem;
height: 10rem 
}

/* grid main index */

.textofoto__index{color: white;
font-family: 'Bebas Neue', cursive;
font-size: 3rem
}

.p{color: white;
font-family: 'Bebas Neue', cursive;
text-align: center;
}

.foto{
text-align:center;
width: 90%;
padding: 1rem 0rem;
}

.foto__index{
      text-align:center;
      width: 85%;
      padding: 1rem 0rem;
      }

.foto__index:hover {width:90%;
padding: 0.5rem 0;
transition: 1s;
border-radius: 1rem;}

.video {padding: 1rem
}

.main{background-color: #204050;
}

.h{padding: 1rem;
font-family: 'Bebas Neue', cursive;
font-size: 3rem;
color: white; 
text-align: center;
}

.h2{padding: 1rem;
;font-family: 'Bebas Neue', cursive;
font-size: 2.2rem;
color: white;
text-align: center
}
  
.h3{padding: 1rem;
      ;font-family: 'Bebas Neue', cursive;
      font-size: 1.5rem;
      color: white;
      text-align: center
}

.video__inicio{
width: 85%;
padding-bottom: 1rem;
}

       /* footer*/
     
.footer {background-color: #289dd2;
text-align: center;
color: white;
font-family: 'Bebas Neue', cursive;
font-size: 2rem
}

.p__footer{font-family: 'Bebas Neue', cursive;
color: white;
font-size: 1.5rem;
padding: 0.5rem 0;
}

.footer__logos{
width: 3rem; 
height: 3rem
}
     
/* grid main nosotros*/

.main_nosotros{background-color: #204050;}

.textofoto__nosotros {color: white;
font-family: 'Bebas Neue', cursive;
font-size: 3rem;
text-align: center;
}

.foto__nosotros{
width: 90%;
padding: 1rem ;
}

.h1__nosotros{font-family: 'Bebas Neue', cursive;
padding: 1rem;
color: white
}

.p__nosotros{padding: 1rem;
font-family: 'Bebas Neue', cursive;
font-size: 1.2rem;
color: white;
text-align: center;
}

     /*grid main producciones*/

.h1__prod{font-family: 'Bebas Neue', cursive;
padding: 1rem;
color: white
}

.textofoto__prod {color: white;
font-family: 'Bebas Neue', cursive;
font-size: 3rem
}

.h1__prod{font-family: 'Bebas Neue', cursive;
padding: 1rem;
}

.p__prod{padding: 1rem;
font-family: 'Bebas Neue', cursive;
font-size: 1.2rem
}

.frase__video{
color: white;
font-family: 'Bebas Neue', cursive;
font-size: 2rem
}

.video__prod{
width: 50%; 
padding-bottom: 2rem;
}

.foto__prod{width: 80%; 
opacity: 0.7;
border-radius: 1rem
} 

.foto__prod:hover{opacity: 1;
}

 /* main grid ventas*/

.foto__ventas{width: 86.5%;
}

.video__ventas{
width: 80%;
} 

/* grid main contacto*/ 

.main__contacto{background-color:#64b8e0
;border-radius: 1rem;}

.input{width: 80%
}

.letras__contacto{
font-family: 'Bebas Neue', cursive;
color: white;
font-size: 1.2rem;
padding-right: 1rem;
}

.div__textareacontacto {
height: 100%;
}

.divreset__contacto{
padding-left: 1rem;
padding-bottom: 1rem
}

.boton{font-family: 'Bebas Neue', cursive;
      font-size: 1 rem;
      width: 5rem;
border-style: hidden;
opacity: 1;
}

.boton:hover {opacity: 0.8;}