   
    .inicio{
        background-color: map-get($colores , "colorazul");
       
       &__h{@include h
        }
        
        &__h2{
            @include h2
            }
          
        &__h3{
            @include h3
            }
    
        &__p{font-size: 1.3rem;
            color: white;
            font-family: 'Bebas Neue', cursive;
            text-align: center;
            }

        &__foto{
            width: 85%;
            padding: 1rem 0rem;
            opacity: 0.8;
            
            &:hover {
                width: 85.1%;
                padding: 1rem 0;
                transition: 1s;
                border-radius: 1rem;
                opacity: 1;
            }
            }
                   
        &__video{
            padding: 1rem;
            width: 90%;
            }
    }
