@mixin h {
    padding: 1rem;
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    color: white; 
    text-align: center;
    @media only screen and (max-width:768px){
    font-size: 2.2rem;
    }
}

@mixin h2 {
    padding: 1rem;
    font-family: 'Bebas Neue', cursive;
    font-size: 2.2rem;
    color: white;
    text-align: center;
    @media only screen and (max-width:768px){
        font-size: 1.6rem;}
}

@mixin h3 {
    padding: 1rem;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
    color: white;
    text-align: center;
    @media only screen and (max-width:768px){
        font-size: 1.3rem;
}
}
