.nosotros{background-color: map-get($colores , "colorazul");

    &__h{
    @include h
    }

    &__p{
        @extend .inicio__p;
        padding: 1.3rem;
}

    &__h2{
    @include h2
}
      
    &__h3{
    @include h3 
}

    &__foto{
    width: 85%;
    padding: 1rem ;
    
}
}