.ventas{
        background-color: map-get($colores , "colorazul");

        &__h{@include h
        }
    
        &__p{
        @extend .inicio__p;
        padding: 1rem;
        }
    
        &__h2{
             @include h2
        }
          
        &__h3{
             @include h3}

        &__foto{width: 86.5%;
        }

        &__iframe{
          height:500px;
          @media only screen and (max-width:992px){
          position: relative;
          padding-bottom: 56.25%;
          height: 0;
          overflow: hidden;
          }
     
          &--video{
              width: 100%;
              height: 70%;
              padding: 1rem;
              @media only screen and (max-width:992px){
              position: absolute;
              top:0;
              left: 0;
              height: 100%;
              padding: 1rem;
              }
          }
      }   
}